###> ledo
.ledo-mode

###> symfony/framework-bundle ###
/app/.env
/app/.env.local
/app/.env.local.php
/app/.env.*.local
/app/public/bundles/
/app/var/
/app/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/app/.phpunit
/app/.phpunit.result.cache
/app/phpunit.xml
###< symfony/phpunit-bridge ###

.env
.env.local
.env.local.php
.env.*.local

make.env
